.sobre {
    background-color: white;
    border-radius: 2px;
    box-shadow: 5px 5px 100px rgba(0, 0, 0, 0.651);
    width: 80%;
    padding: 16px;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;

}

.sobre *{
    margin: 1rem;

    text-align: start;
}

.sobre h1{
    text-align: center;
}
table {
    width: 98%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.lista {
    list-style-type: none;
    padding: 0;
}

.i-lista {
    margin-bottom: 10px;
}

a {
    color: #007BFF;
    text-decoration: none;
}


.github{
    background-color: #222;
    border-radius: 10%;
}
.github:hover{
    background-color: #007BFF;
} 

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu-user{
    text-decoration: none;
    color: #ffffff;
    display: block; 
}

.menu {
    position: relative;
    margin-top: -1px;
    margin-right: -2px;
    > .menu-trigger {
        display: inline-grid;
        place-items: center;
        padding: 1px;
        border-radius: 0.3em;
        box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
        cursor: pointer;
    }
    > .menu-menu {
        background: #111;
        border-radius: 0.3em;
        position: absolute;
        margin-top: 0.4em;
        display: block;
        transition: opacity 0.3s ease;
        > li {
            padding: 0.2em 0.4em;
        }
    }
    &[data-aberto="true"] {
        > .menu-trigger > .fa-plus {
            display: none;
        }
        > .menu-menu {
            opacity: 1;
            visibility: visible;
        }
    }
    &[data-aberto="false"] {
        > .menu-trigger > .fa-minus {
            display: none;
        }
        > .menu-menu {
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s ease, visibility 0.3s step-end;
        }
    }
}